.footer {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
    padding-bottom: 80px;
    &-heading {
        font-weight: 500;
        font-size: 20px;
        margin-bottom: 30px;
    }
    &-link {
        color: $gray-dark;
        display: inline-block;
        font-size: 14px;
    }
    &-link-item {
        margin-bottom: 25px;
    }
    &-desc {
        margin: 40px 0 50px;
        max-width: 250px;
    }
    &-social {
        display: inline-flex;
    }
    &-social-link {
        width: 40px;
        height: 40px;
        border-radius: 100rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        color: white;
    }
    &-social-link + &-social-link {
        margin-left: 15px;
    }

    @media screen and (max-width: 767.98px) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 50px 20px;
    }
}
