.intro {
    display: flex;
    align-items: center;
    padding: 110px 0 160px;
    &-desc {
        margin-bottom: 30px;
        margin-top: 30px;
    }
    & > * {
        width: 50%;
    }
    &-content {
        padding-right: 130px;
    }
    @media screen and (max-width: 1023.98px) {
        padding-right: 20px;
    }
    @media screen and (max-width: 767.98px) {
        padding: 25px 0 80px;
        display: block;
        &-content {
            padding-bottom: 30px;
        }
        & > * {
            width: 100%;
            padding: 0;
        }
    }
}
