.plan {
    margin-bottom: 100px;
    &-list {
        display: flex;
        justify-content: space-between;
    }
    &-item {
        border: 1px solid #eee;
        border-radius: 20px;
        width: calc(100% / 3 - 30px);
        padding: 74px 25px;
        display: flex;
        flex-direction: column;
        position: relative;
        transition: all 0.2s linear;
        &:hover {
            border-color: transparent;
            box-shadow: 0 0 50px 10px rgba(black, 0.03);
        }
        &:hover .plan-start {
            border-color: $primary-color;
            background-color: $primary-color;
            color: white;
        }
    }
    &-name {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 25px;
    }
    &-price {
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 30px;
        padding-bottom: 40px;
        border-bottom: 1px solid #eee;
    }
    &-symbol {
        vertical-align: top;
    }
    &-month {
        font-size: 40px;
        font-weight: 500;
    }
    &-desc {
        margin-bottom: 30px;
    }
    &-feature {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 25px;
    }
    &-feature-item {
        display: flex;
        align-items: center;
        color: $gray;
        margin-bottom: 25px;
        font-weight: 300;
    }
    &-feature-item:last-of-type {
        margin-bottom: 50px;
    }
    &-feature-icon {
        font-size: 20px;
        margin-right: 10px;
    }
    &-start {
        display: block;
        margin: auto auto 0;
        width: max-content;
        text-transform: capitalize;
    }
    &-label {
        position: absolute;
        top: 0;
        right: 0;
        padding: 15px;
        background-color: $pink-color;
        color: white;
        text-transform: capitalize;
        border-radius: 0 20px 0 20px;
        font-size: 14px;
    }
}
